* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #181725;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.h1-calc {
  text-align: center;
  color: #00b0a4ff;
  user-select: none;
  margin: 5px 0 24px;
}

.calculator {
  background-color: #353d4dff;
  border-radius: 12px;
  width: 240px;
  margin: 14px auto;
  padding: 12px;
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #00b0a4;
  height: 80px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 2px solid #00b0a4ff;
  padding: 10px;
  font-size: 28px;
}

.keypad {
  user-select: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.keys-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.operator {
  color: #00b0a4ff;
  background-color: #21424c;
  transition: 300ms background-color;
}

.operator:hover,
.delete:hover {
  background-color: #00b0a4ff;
  color: #f8fdfdff;
}

.delete {
  color: #00b0a4ff;
  transition: 300ms background-color;
}

.number {
  color: #f8fdfdff;
  transition: 300ms color;
}

.number:hover {
  color: #00b0a4ff;
}

.row-width {
  display: flex;
}
.row-width > .operator {
  flex-basis: 150px;
}

.deaf {
  cursor: default;
}

.deaf:hover {
  background-color: inherit;
}

#equal {
  border-bottom-right-radius: 12px;
}
