* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1-calc {
  text-align: center;
  color: tomato;
  user-select: none;
  margin-top: 5px;
}

.calculator {
  background-color: #fff;
  border: 5px solid burlywood;
  border-radius: 8px;
  width: 300px;
  margin: 14px auto;
  padding: 8px;
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: orange;
  color: #fff;
  width: 256px;
  height: 66px;
  margin: 0 auto 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 28px;
}

.keypad {
  user-select: none;
  width: 226px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.keys-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: tomato;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.keys-btns:hover {
  opacity: 0.9;
}
